{include file="pageheader.htm"}
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>序号</th>
    <th>姓名</th>
    <th>手机</th>
    <th>地址</th>
  <tr>
    {foreach from=$contact_list item=it}
  <tr align="center">
    <td>{$it.id}</td>
    <td>{$it.name}</td>
    <td>{$it.mobile}</td>
    <td>{$it.address}</td>
  </tr>
    {/foreach}
    <tr>
        <td align="right" nowrap="true" colspan="8">
            {include file="page.htm"}
        </td>
    </tr>
</table>
</div>
