<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    body {
        font-family: "Microsoft YaHei UI", "Microsoft YaHei", SimSun, "Segoe UI", Tahoma, Helvetica, Sans-Serif, "Microsoft YaHei", Georgia, Helvetica, Arial, sans-serif, 宋体, PMingLiU, serif;
        font-size: 10pt;
        line-height: 2;
    }
</style>
<table cellspacing='1' cellpadding='3' id='list-table'>

    系统使用教程
    <div><br></div>
    <div><font color="#ff0000">1.基本设置：</font></div>
    <div>==第一次安装好后，默认同步中移智能后台网站基本配置,但可以单独修改配置。</div>
    <div>==短信设置，需要购买短信套餐，开通短信套餐服务，填写好<span>短信接口信息</span>,配置信息与中移智能后台同一帐号。</div>
    <div><span style="font-size: 10.5pt; line-height: 1.5;"><br></span></div>
    <div><img src="http:/mobile/admin/templates/tutu.png"></div>
    <div><span style="font-size: 10.5pt; line-height: 1.5;">==可实现 用手机号注册并发送验证短信的功能，以及</span><span
            style="font-size: 10.5pt; line-height: 1.5;">忘记密码功能，前提是</span><span
            style="font-size: 10.5pt; line-height: 1.5;">注册用户资料中要填写好手机号码。</span></div>
    <div><br></div>
    <div><font color="#ff0000">2.品牌管理：</font>与中移智能品牌数据互通，修改同步。中移智能新增功能--添加品牌banner图标。</div>
    <div><br></div>
    <div><font color="#ff0000">3.分类图标：</font>与中移智能商品分类数据互通，修改同步。中移智能新增功能--添加分类小图标。</div>
    <div><br></div>
    <div>编辑分类-》上传分类图标</div>
    <div>
        <div><img src="http:/mobile/admin/templates/tutu1.png" name=""></div>
    </div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">4.广告管理：</font>中移智能独立管理功能。可以修改手机首页幻灯片，也可以添加其他广告。</div>
    <div><img src="http:/mobile/admin/templates/tutu2.png"></div>
    <div>点击查看广告列表-》编辑广告：可以修改广告信息。其中广告链接，&nbsp;添加你手机网站商品或文章链接（<font color="#ff0000">注意是手机网址链接</font>）。如http://域名/mobile/goods.php?id=12
    </div>
    <div><img src="http:/mobile/admin/templates/tutu3.png"></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">5.支付方式：</font>中移智能独立管理功能。支持手机支付宝支付，并推荐使用手机支付宝，对手机用户来说方便快速支付。<span
            style="font-size: 10.5pt; line-height: 1.5;">中移智能手机支付宝 商户数据 可以通用。</span><span
            style="font-size: 10.5pt; line-height: 1.5;">具体信息登录支付宝商家服务网址&nbsp;</span><a
            href="https://b.alipay.com/newIndex.htm" _src="https://b.alipay.com/newIndex.htm"
            style="font-size: 10.5pt; line-height: 1.5;">https://b.alipay.com/newIndex.htm</a><span
            style="font-size: 10.5pt; line-height: 1.5;">查看。</span></div>
    <div><img src="/mobile/admin/templates/tutu4.png"></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">6.配送方式：</font><span style="font-size: 10.5pt; line-height: 1.5;">中移智能配送方式配置。</span></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">7.授权登录：</font>中移智能独立管理功能。第三方登录目前支持QQ，新浪微博，人人网帐号登录，后续更新会支持更多第三方登录方式。安装时填写好第三方提供的信息，即可使用（红色提示部分可以不用理会）。
    </div>
    <div><img src="http:/mobile/admin/templates/tutu5.png"></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">8.菜单管理：</font>中移智能功能。自定义适应手机页面的导航菜单，可以控制是否显示在首页。</div>
    <div>
        <div>后台可以修改：修改分类名称、修改链接、修改排序、控制是否显示.</div>
        <div><br></div>
        <div><img src="http:/mobile/admin/templates/tutu6.png" name=""></div>
        <div><br></div>
        <div>因为默认分类图标功能，不建议客户频繁修改 以免影响手机网站用户访问体验。所以目前分类小图标上传 采取ftp上传到mobile/themes/default/images目录后，修改指定图标名称方式。</div>
    </div>
    <div><br></div>
    <div>前台手机显示效果：</div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">9.模板选择：</font> 可以选择不同的手机网页模板。</div>
    <div>默认模板 对应 目录 mobile/themes/default/ &nbsp;如果有其他模板 则对应其他模板名称mobile/themes/xiaomi/</div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">10. 设置模板：</font>目前只可以修改首页模板布局。</div>
    <div>
        <div>可以控制&nbsp;<b>精品推荐 新品上架 热卖商品</b>的 显示与以及显示数量。默认10 改成5 就是显示5条商品数据，显示下面的勾 去掉 就是让其在首页隐藏。</div>
        <div><b>广告位</b>&nbsp;默认添加一个手机版首页Banner,这个是在4.广告管理中添加好的。选中中移智能首页广告区域
            是使幻灯片在首页顶部显示。如果选中中部主区域，广告则会显示在中部相应区域。可以添加多条广告位显示在首页，但不推荐，首页广告太多影响用户体验。
        </div>
    </div>
    <div><img src="http:/mobile/admin/templates/tutu7.png" name=""></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">11.库项目管理：</font> 相当于 修改页面代码的一个便捷功能，主要是修改的lbi格式文件里的内容 而不是dwt模板文件内容哦^_^。如果你懂写html语言，很容易修改。
    </div>
    <div>拿修改页脚page_footer.lbi来举例吧：主要是修改底部的一些文字信息。</div>
    <div>选择一个库项目：<font color="#ff0000">page_footer.lbi </font>可以修改里面的如 powered by ecmoban 。
        底部菜单中的文字也可以修改，但其他地方不懂代码的话，请不要随意修改。
    </div>
    <div><img src="http:/mobile/admin/templates/tutu8.png"></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">12，语言项编辑 ：</font></div>
    <div><span style="font-size: 10.5pt; line-height: 1.5;">&nbsp;提供一些页面固定位置，文字常量修改。如底部版权信息修改，先选中common.php-公共语言包 再搜索 版权 二字。</span><span
            style="font-size: 10.5pt; line-height: 1.5;">（点击下拉框 有语言包文件选择，<font color="#ff0000">一般常用的是公共语言包</font>，如果搜索不到再试试去其他语言包搜索）。</span><span
            style="font-size: 10.5pt; line-height: 1.5;">修改成你想要的内容保存。</span></div>
    <div><img src="http:/mobile/admin/templates/tutu9.png" name=""></div>
    <div><br></div>
    <div><br></div>
    <div><font color="#ff0000">13.模板设置备份：</font> 在修改模板之前 最好先备份下模板 这样修改错误后，还可以找到原来模板，恢复错误。</div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <div><br></div>

</table>
