<html >
<head>
    <title>{if $wxch_lang.ur_here} - {$wxch_lang.ur_here} {/if}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="styles/general.css" rel="stylesheet" type="text/css"/>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    {insert_scripts files="../data/static/js/transport.js,./js/common.js"}
</head>
<body>
<h1>

    <span id="search_id" class="action-span1"> {$wxch_lang.ur_here}</span>
</h1>
<div class="main-div">
    <form name="theForm" method="post" action="wxch-ent.php?act=wxconfig">
        <table width="100%">
            <tr>
                <td class="label">Token:</td>
                <td><input type="text" name="token" size="20" value="{$token}"/></td>
            </tr>
            <tr>
                <td class="label">AppId :</td>
                <td><input type="text " name="appid" size="20" value="{$appid}"/></td>
            </tr>
            <tr>
                <td class="label">AppSecret :</td>
                <td><input type="text " name="appsecret" size="32" value="{$appsecret}"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="{$lang.button_submit}" class="button"/>
                    <input type="reset" value="{$lang.button_reset}" class="button"/>
                </td>
            </tr>
        </table>
    </form>
</div>

