{include file="pageheader.htm"}
<div class="main-div">
    <form method="POST" action="aliSendSms.php?act=aliSendSmsConfigAdd">
        <table>
            <tr>
                <td class="label">Key:</td>
                <td><input type="text" name="dykey" placeholder="23349000"></td>
            </tr>
            <tr>
                <td class="label">Secret:</td>
                <td><input type="text" name="dysecret" placeholder="e6c2f23692f4d1545797119adad88518"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="提交" class="button" />
                </td>
            </tr>
        </table>
    </form>
</div>
{include file="pagefooter.htm"}